In [1]:
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns
%matplotlib inline

In [3]:
df_salary= pd.read_csv("Salaries.csv", low_memory=False)

In [4]:
df_salary.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
df_salary.shape

(148648, 13)

In [6]:
df_salary.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [8]:
df_salary.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148648.000000,148043.000000,148648.000000,148648.000000,112490.000000,148648.000000,148648.000000,148648.000000,0.0
mean,74326.110220,66325.398119,5065.821161,3648.761721,25007.777439,74770.035453,93694.776345,2012.522617,NaN
std,42911.633315,42764.898947,11454.266982,8056.655841,15402.235424,50516.440633,62792.743250,1.117526,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN
25%,37163.750000,33587.350000,0.000000,0.000000,11535.192500,36169.370000,44072.062500,2012.000000,NaN
50%,74326.500000,65007.450000,0.000000,811.205000,28628.365000,71427.130000,92406.020000,2013.000000,NaN
75%,111488.250000,94691.050000,4657.597500,4236.035000,35566.790000,105840.920000,132876.997500,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

In [9]:
df_salary.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36158
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

In [12]:
df_salary['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [25]:
import numpy as np
df_salary_new=df_salary.drop(columns=['Status','Notes'])
df_salary_new.isna().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay               605
OvertimePay             0
OtherPay                0
Benefits            36158
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

In [28]:
df_salary_new['BasePay']=df_salary_new['BasePay'].fillna(df_salary_new['BasePay'].mean())
df_salary_new['Benefits']=df_salary_new['Benefits'].fillna(df_salary_new['Benefits'].mean())
df_salary_new.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
dtype: int64

In [29]:
#grouping by year
mean_year= df_salary_new.groupby('Year').mean()['TotalPayBenefits']
mean_year

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [31]:
print('Total increase is:', mean_year[2014]-mean_year[2011])

Total increase is: 28517.619023488733

In [33]:
emp_grp=df_salary_new.groupby('EmployeeName').sum()['TotalPayBenefits']
emp_grp.sort_values(ascending=False).head()

EmployeeName
Kevin Lee       1778487.17
Steven Lee      1706550.76
William Wong    1459954.17
Stanley Lee     1457279.68
Richard Lee     1268668.84
Name: TotalPayBenefits, dtype: float64

* Kevin Lee is the top-earning employee and total increase is